@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    padding: 0 10px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    background: linear-gradient(hsl(204, 100%, 35%),
            hsl(196, 93%, 70%),
            hsl(0, 0%, 100%));
}

#paragraph {
    color: #646669;
}

.result-details {
    color: #deddd9;
}

::selection {
    color: #fff;
    background: #007acc;
}

.hero__section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
}

.header {
    width: 100%;
    text-align: center;
    font-size: clamp(18px, 2vw, 26px);
    color: #deddd9;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    flex-direction: column;

    max-width: 1024px;
    padding: 12px 28px 28px;
    background: #202123;
    border-radius: 10px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.05);
}

.wrapper .input-field {
    opacity: 0;
    z-index: -999;
    position: absolute;
}

.wrapper .content-box {
    line-height: 1.4;
    padding: 30px 36px 1px;
    border-radius: 10px;
    animation: color-change 10s infinite ease-in-out;
}

@keyframes color-change {
    0% {
        border: 2px solid #F17C58;
    }

    16.6% {
        border: 2px solid #E94584;
    }

    33.2% {
        border: 2px solid #24AADB;
    }

    49.8% {
        border: 2px solid #27DBB1;
    }

    66.4% {
        border: 2px solid #FFDC18;
    }

    83% {
        border: 2px solid #FF3706;
    }

    99.99% {
        border: 2px solid #F17C58;
    }
}

.content-box .typing-text {
    overflow: hidden;
    max-height: 400px;
}

.content-box, .typing-text {
    font-family: 'Roboto Mono', monospace;
}

.typing-text::-webkit-scrollbar {
    width: 0;
}

.typing-text p {
    font-size: 21px;
    text-align: justify;
    letter-spacing: 1px;
    word-break: normal;
}

.typing-text p span {
    position: relative;
}

.typing-text p span.correct {
    color: #d1d0c5;
}

.typing-text p span.incorrect {
    color: #ca4754;
    border-radius: 4px;
}

.typing-text p span.active::before {
    position: absolute;
    content: "";
    height: 30px;
    width: 1px;
    bottom: 0;
    left: 0;
    opacity: 0;
    border-radius: 2px;
    background: #007acc;
    animation: blink 1.175s ease-in-out infinite;
}

@keyframes blink {
    50% {
        opacity: 1;
    }
}

.center.btn {
    margin: auto;
    padding-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* animation: color-change2 10s infinite ease-in-out; */
}

.center.btn .try-again {
    margin: 1rem auto 0;
    outline: none;
    border: none;
    width: 160px;
    height: 60px;
    color: #d1d0c5;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 15px;
    border: 3px solid #deddd9;
    background: none;
    transition: all 0.3s ease !important;
}

button.try-again:hover {
    color: #202123 !important;
    background-color: #deddd9 !important;
}

.try-again:active {
    transform: scale(0.91);
}

.content-box .content {
    margin-top: 24px;
    display: flex;
    min-height: 4.25rem;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    animation: color-change2 10s infinite ease-in-out;
}

@keyframes color-change2 {
    0% {
        border-top: 2px solid #F17C58;
    }

    16.6% {
        border-top: 2px solid #E94584;
    }

    33.2% {
        border-top: 2px solid #24AADB;
    }

    49.8% {
        border-top: 2px solid #27DBB1;
    }

    66.4% {
        border-top: 2px solid #FFDC18;
    }

    83% {
        border-top: 2px solid #FF3706;
    }

    99.99% {
        border-top: 2px solid #F17C58;
    }
}

.content .result-details {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
    margin: 0 auto;
    padding: 0;
}

.result-details li {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    list-style: none;
    width: 150px;
}

.result-details li *:not(.wpm p, .wpm span) {
    font-size: 15px;
}

/* .result-details li:not(:first-child) {
    padding-left: 40px;
    border-left: 2px solid #bfbfbf;
} */

.result-details li span {
    display: block;
    font-size: inherit;
    margin-left: 10px;
}

li.wpm {
    font-size: 16.75px;
}

li span b {
    font-weight: 500;
}

li:not(:first-child) span {
    font-weight: 500;
}

.wpm span {
    animation-delay: 800ms;
}

@media (max-width: 745px) {
    .wrapper {
        padding: 20px;
    }

    .content-box .content {
        padding: 20px 0;
    }

    .content-box .typing-text {
        max-height: 100%;
    }

    .typing-text p {
        font-size: 19px;
        text-align: left;
    }

    .content button {
        width: 100%;
        font-size: 15px;
        padding: 10px 0;
        margin-top: 20px;
    }

    .content .result-details {
        width: 100%;
    }

    .result-details li:not(:first-child) {
        border-left: 0;
        padding: 0;
    }

    .result-details li p,
    .result-details li span {
        font-size: 15px;
    }
}

@media (max-width: 518px) {
    .wrapper .content-box {
        padding: 10px 15px 0;
    }

    .typing-text p {
        font-size: 13px;
    }

    .result-details li {
        margin-bottom: 10px;
    }

    .content button {
        margin-top: 10px;
    }
}

.social {
    display: flex;
    width: 100%;
    flex-direction: row;
}

.social ul {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 32px;
    margin: 1rem auto 0;
}

.social ul li {
    max-width: fit-content;
    height: fit-content;
    padding: .25rem;
}

.social ul li a {
    background-color: #202123;
    color: #deddd9;
    outline: 2px solid #deddd9;
    padding: .5rem 1rem;
    font-size: 1.85em;
    border-radius: 50%;
    transition: all .3s ease-in-out;
}

.social ul li a:hover {
    background-color: #deddd9;
    color: #202123;
}